.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  max-width: 1200px;
  overflow: scroll;
  padding: 30px;
  height: 75%;
  gap: var(--gap-xx-large);
  color: var(--text-color);
  font-size: var(--font-size-medium);
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed li {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.feed .userMessage {
  display: flex;
  background-color: var(--secondary-color);
  padding: var(--padding-medium) var(--padding-large);
  max-width: 50%;
  border-radius: var(--border-radius-normal);
  margin-left: auto;
  word-wrap: break-word;
}

.feed .jarvisMessage {
  display: flex;
  background-color: #343541;
  max-width: 75%;
  margin: 0 auto;
}

.feed .jarvisMessage p {
  /* font-size: var(--font-size-large); */
  font-family: var(--robot-font);
  line-height: 24px;
}

.jarvisLabel {
  font-style: italic;
  font-weight: bold;
  margin-right: var(--padding-small);
  border-bottom: 0.5px solid var(--accent-color);
}
