@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --accent-color: #4ae1e9;
  --primary-color: #343541;
  --secondary-color: #202123;
  --text-color: #ffffffcc;
  --box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  --white-color: #fdfcff;
  --font-size-x-small: 10px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 22px;
  --font-size-x-large: 26px;
  --border-radius-normal: 12px;
  --border-radius-pill: 999px;
  --gap-x-small: 5px;
  --gap-small: 10px;
  --gap-medium: 15px;
  --gap-large: 20px;
  --gap-x-large: 30px;
  --gap-xx-large: 40px;
  --primary-font: 'Open Sans', sans-serif;
  --padding-x-small: 5px;
  --padding-small: 10px;
  --padding-medium: 15px;
  --padding-large: 20px;
  --padding-x-large: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white-color);
  font-family: var(--primary-font);
}

.app {
  background-color: var(--primary-color);
  display: flex;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.jarvis-logo {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.jarvis-top-logo {
  border-radius: 50%;
  height: 100px;
}

.top-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #4ae1e9;
  border-radius: 100%;
  margin: auto auto 20px;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO: Add media queries to css modules */
@media screen and (max-width: 480px) {
  .main h1 {
    font-size: 14px;
  }
  nav p {
    font-size: 12px;
  }
  .side-bar button {
    font-size: 12px;
  }
  .info {
    font-size: 9px;
  }
  .input-container {
    max-width: 90%;
  }
  input {
    font-size: 14px;
  }
  #submit {
    bottom: 13px;
  }
}
